body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

nav{
background:#2c6e91;
color:white;
display:flex;
justify-content:space-between;
padding:15px;
}

nav ul{
display:flex;
list-style:none;
}

nav li{
margin-left:20px;
}

header{
text-align:center;
background:white;
padding:30px;
}

.profile{
display:flex;
background:white;
margin:20px;
padding:20px;
border-radius:5px;
}

.profile img{
width:200px;
margin-right:20px;
border-radius:10px;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:5px;
}

table{
width:100%;
border-collapse:collapse;
}

table, th, td{
border:1px solid #ccc;
}

th, td{
padding:10px;
}

footer{
background:#2c6e91;
color:white;
text-align:center;
padding:15px;
}
